{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="reset.css">
    <link rel= "stylesheet" href="debug.css">
    <link rel = "stylesheet" href ="article.css">
    <link rel = "stylesheet" href ="article-image.css">
    <link rel= "stylesheet" href="article-text.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="navbar.css">
{% endblock %}
{% block content %}

    <h1>HTML Form</h1>

    <form action="/calculator" method="POST">
        <label for="value1">Value 1:</label><br>
        <input type="text" id="value1" name="value1" value="1"><br>
        <label for="value2">Value 2:</label><br>
        <input type="text" id="value2" name="value2" value="2"><br>
        <fieldset>
        <legend>Operation</legend>
          <div>
            <input type="radio" name="operation" id="addition" value="addition" checked>
            <label for="addition">addition</label>
          </div>
          <div>
            <input type="radio" name="operation" id="subtraction" value="subtraction">
            <label for="subtraction">subtraction</label>
          </div>
          <div>
            <input type="radio" name="operation" id="multiplication" value="multiplication">
            <label for="multiplication">multiplication</label>
          </div>
          <div>
            <input type="radio" name="operation" id="division" value="division">
            <label for="division">division</label>
          </div>
        </fieldset>

        <input type="submit" value="Submit">
    </form>
{% endblock %}