{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <article id="the-cosmos">

        <h1>What is Linux and the commands</h1>
        <h1>Linux Commands</h1>
        <p>
            Linux is an operating system. Linux is an entire family of operating systems that are based on the Linux Kernel. Linux was released in 1991, and it has begun to grow in popularity because of its ability to be open source. So when using Linux you are going to need a shell, which gives you access to operating system services.
        </p>

        <img src="https://i.ytimg.com/vi/Mnv5FQ9nwe4/maxresdefault.jpg" width="600px" height="600px" style="display:block; margin-left: auto;margin-right: auto;">

        <h3> Commands</h3>
        <p>
            Some of the most important Linux commands are listed here below.
        </p>

        <h3>List of all the commands:</h3>
        <p>
            Pwd - It stands for "Print Working Directory", and it will tell you which file you are on.</p>
        </p>

        <p>
            ls - This lists out all the files that are you in your directory
        </p>

        <p>
            cd - This allows you to move to a different directory
        </p>

        <p>
            mkdir - Creates a directory
        </p>

        <p>
            mv - Lets you move files to another folder
        </p>

        <p>
            touch - Creates new files
        </p>

        <p>
            vi - open an existing file
        </p>

        <p>
            git init - creates a new repo
        </p>

        <p>
            git init - creates a new repo
        </p>

        <p>
            git commit -m "Message" - Allows you to put down a message when initializing a repo
        </p>

        <p>
            git checkout - Let's navigate between the branches
        </p>

        <p>
            docker compose up - starts docker and keeps it running
        </p>

        <p>
            docker compose down - stops the docker from running and kills it

        </p>

    </article>
{% endblock %}